<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <div class="text-center mb-4">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/crud-e637b.appspot.com/o/ProductImages%2FE-commerce.png?alt=media&token=738e3386-1dd8-4f92-941c-70b2c489fef1"
        alt="Logo" class="img-fluid" style="max-width: 100px;">
      <h2 class="h5 mt-2">{{ isLogin ? 'Login' : 'Sign Up' }}</h2>
    </div>

    <div *ngIf="isLogin; else signupForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password">
      </div>
      <button class="btn btn-warning btn-block mt-3" (click)="login()">Login</button>

      <div class="text-center mt-3">
        <!-- <span>New to Amazon?</span> -->
        <button class="btn btn-link" (click)="isLogin = false">Create Your New Account</button>
      </div>
    </div>

    <ng-template #signupForm>
      <div class="form-group">
        <label for="newname">Enter Full Name</label>
        <input type="text" id="newname" class="form-control" [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <label for="newUsername">Username</label>
        <input type="text" id="newUsername" class="form-control" [(ngModel)]="user.userName">
      </div>
      <div class="form-group">
        <label for="newPassword">Password</label>
        <input type="password" id="newPassword" class="form-control" [(ngModel)]="user.password">
      </div>
      <button [disabled]="isLoading" class="btn btn-warning btn-block mt-3" (click)="signup()">Sign Up</button>
      <div class="text-center mt-3">
        <button class="btn btn-link" (click)="isLogin = true">Already have an account? Log in</button>
      </div>
      <div *ngIf="isLoading" class="spinner-overlay">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>